.pdaBlock {
    width: 100%;
    text-align: center;
}

.pdaCreationBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}


.pdaCreationBtn button {
    margin: 0;
    margin-top: 10px;
}

.pdaCreationBtn label {
    margin-top: 10px;
}

.pdaBlock form {
    width: 35%;
    float: left; 
}

.pdaBlock form>input {
    width: 100%;
}

.seedAndsize {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.seedAndsize input {
    width: 95%;
}

.pdaBlock form label {
    float: left;
    margin-top: 10px;
 
}

.pdaBlock form button {
    margin-top: 10px;
    float: left;
    margin-left: 0;
}

.pdaShow {
    width: 65%;
    float: right;
    margin-top: 86px;
}

.pdaShow input {
    width: 50%;
    text-align: center;
}

.pdaShow label {
   margin-right: 115px;
}